[project]
	description = Just a hello-world
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jose Luis Franco (jfrancoa)
[access "refs/for/refs/*"]
	read = group user/Jose Luis Franco (jfrancoa)
	push = group user/Jose Luis Franco (jfrancoa)
	label-Code-Review = -2..+2 group user/Jose Luis Franco (jfrancoa)
	label-Verified = -1..+1 group user/Jose Luis Franco (jfrancoa)
	rebase = group user/Jose Luis Franco (jfrancoa)
	removeReviewer = group user/Jose Luis Franco (jfrancoa)
	submit = group user/Jose Luis Franco (jfrancoa)
[access "refs/heads/*"]
	read = group user/Jose Luis Franco (jfrancoa)
	create = group user/Jose Luis Franco (jfrancoa)
	push = +force group user/Jose Luis Franco (jfrancoa)
	pushMerge = group user/Jose Luis Franco (jfrancoa)
[access "refs/tags/*"]
	push = group user/Jose Luis Franco (jfrancoa)
	push = +force group user/Jose Luis Franco (jfrancoa)
